
  .redmi3s{
line-height: 56px;
    color: #333;
    font-size: 24px;
    font-weight: 380;
}


.navbar-default{
  height: 50px;
  background-color: white;
  border-style: none;
}

 .mi a{
  color:#b0b0b0;
  font-weight:bold;
  font-size:11px;
  line-height: 0;

}

.navbar-right .greytext a{
  color: #333;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 55px;
  font-size: 13px;
}
.gre .greytext a:hover{
  background-color: #f5f5f5;
  text-decoration: none;

}

  .category{
    color:#616161;
    font-size:13px;
    font-family: ProximaNova,Arial,Sans-serif;
    font-weight:600;
    padding-left: 10px;
}
.whitetext .toggle .category a:hover{
  color: orange;
}


  .whitebar{
    width:1226px;


  }
  .secondary-greybar{
    background-color: #f5f5f5;
    height: 58px;

  }
 .navbar-left .h3{
  padding-top: 0;
  padding-bottom: 0;
}
 .btn-buynow {

    color: #ffffff;
    font-size: 11px;
    border-width: 1px;
   border-style: solid;
    text-align: center;
    background-color: #ff6700;
    height: 27px;
    width: 72px;
    margin-top: 15px;
        }

  .back-img{
    background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-intro-bg-3s.jpg?v=20170802) no-repeat;
    height:900px;
    background-position:left 145px;
    background-size: contain;
  }
  .text{
    margin-top: 288px;
    width: 40%;
    margin-left: 70%;
  }
  .text h1{
    font-size: 70px;
    font-weight: 400;
    line-height: 1.5;
  }

  .milogo-wrapper{

    width: 56px;
    overflow: hidden;
    margin-right: 35px;


  }
  .milogo-wrapper img{
    transition: all linear 0.2s;
  }
  .milogo-wrapper img:hover{
    transform: translate(-55px, 0);
  }



  .navbar navbar-light{
    height: 400px;
  }
  h2{
    margin: 0 0 25px;
font-size: 40px;
font-weight: 400;
line-height: 1.25;
  }
  p.para{
    font-size: 20px;
  }
.bck-img1{
  display: block;
background:  url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-performance-icons.png?v=20170802) no-repeat;
width:100px;
height: 100px;
margin:250px 120px 20px 10px;
background-position: 0;

}

ul.nav.navbar-nav.redmi-menu .blue a{
  color: #742b82;
    font-size: 14px;
    cursor: pointer;
}
.bck-img2{
  display: block;
background:  url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-performance-icons.png?v=20170802) no-repeat;
width:100px;
height: 100px;
margin:250px 110px 20px 30px;
background-position: -100px;


}
.bck-img3{
  display: block;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-performance-icons.png?v=20170802)no-repeat;
  width: 100px;
  height:100px;
  margin:250px 120px 20px 30px;
  background-position: -200px;
}
.bck-img4{
  display: block;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-performance-icons.png?v=20170802)no-repeat;
  width: 100px;
  height: 100px;
  margin:250px 120px 20px 20px;
  background-position: -300px;

}
.bck-img5{
  display: block;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-performance-icons.png?v=20170802)no-repeat;
  width: 100px;
  height: 100px;
  margin:250px 120px 20px 30px;
  background-position: -400px;
}
 h4 .imagebelow{
   margin-right: 200px;
 }
.pink{
  display: flex;
  flex-direction: row;
  padding:10px 20px;
  position: inherit;
  margin-right: 10px 10px;

}

 .title-webfont{
  text-align: center;
  margin: 100 0 25px;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.25;
}
.titletext{
  text-align: center;
      line-height: 1.875;
      font-size: 16px;
  color: #212121;

}
.bck-img6{
  background-image: url('/images/mobile1.jpg') ;

  position: relative;
    z-index: 2;
    width: 70%;
    height: 700px;
    background-position: center bottom;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;



}
.blackbackground{
  background-color: black;
  height: 400px;


}
.whitetitle{
  color:white;
  text-align: center;
  font-size: 40px;
font-weight: 400;
line-height: 1.25;
padding-top: 200px;
}
.slideritem  a{
  background-color: none;
   color: white;
cursor:pointer;
display: inline;
font-size: 17px;
text-align:justify;
font-family: ProximaNova,Arial,Sans-serif;

 }
 .sliderinformation{
   background-color: black;

  height:530px;
  width: 770px;

 }
 .video{
   border: 1px solid blue;
height: 100%;
width: 770px;
margin-left: 0px;


 }
 .h4{
   text-align: center;
   color:white;
   padding-top: 200px;
   font-size: 26px;
    font-weight: 400;
 }
 .asphaltdescription{
   color:white;
   font-size: 15px;
   text-align: center;
 }
 .sliderbox{
   padding:
 }
 .blackimagesection{
   background-color: black;
 }
 .mobileimage{
   margin-left: 170px;
 }
 .boldheading{
   font-weight: bold;
   color: white;
   float: right;


 }
.cover{
  float: right;
  height: 800px;

}
.item{
  margin-right: 7px;
  line-height: 0;
}
.threemobile{

  margin:0 auto;

}
