@media (max-width:700px){
  body{


  }}
  div{
    width: auto;
    margin: 0 auto;
    border-radius: 0;

  }
 @media only screen and  (min-width:991px){
  .greytext a {
   padding:0px;
    }
}
@media only screen and (min-width:300px){
  .gre .greytext{
    text-align: center;
  }

}
@media only screen and (min-width:400px) {
  .redmi3s{
    float: right;
  }
}
