
 @media only screen and  (min-width:991px){
  .greytext a {
   padding:0px;
    }
}
@media only screen and (min-width:300px){
  .gre .greytext{
    text-align: center;

  }

}

@media only screen and (max-width:767px){
.topbar .navbar-left{
  font-size: 5px;
  float: right;
}
}
@media only screen and (max-width:767px){
  .milogo{
    text-align: center;

  }
}
@media only screen and (max-width:767px){
  .navbar-left{
    text-align:right;



  }
}
